.dashboard {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1rem;
    max-width: 100vw;
}

.dashboard_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    color: var(--sec_clr);
}

.dashboard_info div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard_info div :first-child {
    background-color: lightgray;
    padding: 0.35rem 0.5rem;
    border-radius: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem;
    margin-left: 1rem;
}


.cards_data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    width: 18rem;
    height: 6rem;
    border-radius: 12px;
    padding: 0.5rem 0.75rem;
    gap: 5rem;
}

.cards_data_info {
    display: grid;
    justify-content: space-between;
    gap: 0.5rem;
}

.cards_data_info>h5 {
    font-size: 0.75rem;
    font-weight: 100;
}

.cards_data_info>h3 {
    font-size: 2rem;
    font-weight: 300;
}

.cards_data_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
    font-size: x-large;
}

.logo_top {
    font-size: x-large;
    margin-bottom: 2.5rem;
}

.cards_data_1 {
    background-image: linear-gradient(to right, rgba(255, 138, 34, 0.7), rgba(255, 38, 0, 1));
}

.cards_data_2 {
    background-image: linear-gradient(to right, rgba(0, 151, 235, 0.7), rgba(0, 69, 212, 1));
}

.cards_data_3 {
    background-image: linear-gradient(to right, rgba(0, 209, 119, 0.7), rgba(0, 175, 82, 1));
}

.cards_data_4 {
    background-image: linear-gradient(to right, rgba(158, 73, 236, 0.7), rgba(99, 0, 197, 1));
}

.cards_2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem;
    margin-left: 1rem;
}

.cards_2_data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    background-color: white;
    width: 18rem;
    height: 8.5rem;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    gap: 2rem;
}

.cards_2_data_info1 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cards_2_logo {
    font-size: x-large;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.35rem 0.35rem;
    border-radius: 0.5rem;

}

.logo_1 {
    background: rgba(255, 138, 34, 0.3);
    color: rgba(255, 38, 0, 1);
}

.logo_2 {
    background: rgba(0, 151, 235, 0.3);
    color: rgba(0, 69, 212, 1);
}

.logo_3 {
    background: rgba(0, 209, 119, 0.3);
    color: rgba(0, 175, 82, 1);
}

.logo_4 {
    background: rgba(158, 73, 236, 0.3);
    color: rgba(99, 0, 197, 1);
}

.cards_2_data_info1>h5 {
    font-size: 0.75rem;
    font-weight: 300;
    align-items: baseline;
    opacity: 0.7;
}

.cards_2_data_info2 {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.cards_2_data_info2>h3 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--sec_clr);

}

.cards_2_data_info2>div {
    font-size: x-large;
    background: var(--bg_clr);
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.35rem 0.35rem;
    border-radius: 0.35rem;

}

.card_3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.cards_3_data {
    height: 24rem;
}

.cards_3_table {
    width: 40rem;
    border-radius: 12px;
    background-color: white;
}

.table_caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1rem;
}

.table_caption>h2 {
    font-size: 1rem;
    color: var(--sec_clr);
    font-weight: 300;
}

.table_caption>h4 {
    font-size: 0.75rem;
    color: var(--sec_clr);
    font-weight: 200;
}

.table_filter {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

.table_filter>ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--sec_clr);
    font-size: 0.85rem;
    font-weight: 100;
}

.table_filter>ul :first-child {
    background-color: var(--bg_clr);
    padding: 0.35rem 0.95rem;
    border-radius: 5px;
}

.table_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: var(--sec_clr);
    width: 17rem;
    height: 1.5rem;
    border-bottom: 1px solid var(--sec_clr);
}

.table_search>p {
    font-size: 0.75rem;
}

.table_data table {
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--bg_clr);
    border-collapse: separate;
    border-spacing: 0.75rem;
    font-size: 0.75rem;
}

th {
    color: var(--sec_clr);
    padding: 0.5rem;
}

td {
    padding: 0.5rem;
}

.first_row :first-child {
    color: var(--pri_clr);
}

.first_row :nth-child(2) {
    color: var(--sec_clr);
}

.first_row :nth-child(3) {
    color: var(--pri_clr);
    background: rgba(0, 151, 235, 0.3);
    border-radius: 5px;
}

.first_row :nth-child(4) {
    color: rgba(0, 175, 82, 1);
    background: rgba(0, 209, 119, 0.15);
    border-radius: 5px;
}

.first_row :nth-child(5) {
    color: var(--sec_clr);
}

.second_row :first-child {
    color: var(--pri_clr);
}

.second_row :nth-child(2) {
    color: var(--sec_clr);
}

.second_row :nth-child(3) {
    color: rgba(255, 38, 0, 1);
    background: rgba(255, 138, 34, 0.3);
    border-radius: 5px;
    ;
}

.second_row :nth-child(4) {
    color: rgba(99, 0, 197, 1);
    background: rgba(158, 73, 236, 0.3);
    border-radius: 5px;
}

.second_row :nth-child(5) {
    color: var(--sec_clr);
}

.third_row :first-child {
    color: var(--pri_clr);
}

.third_row :nth-child(2) {
    color: var(--sec_clr);
}

.third_row :nth-child(3) {
    color: rgb(17, 117, 145);
    background: rgba(136, 219, 239, 0.3);
    border-radius: 5px;
    ;
}

.third_row :nth-child(4) {
    color: rgb(15, 15, 16);
    background: rgba(207, 190, 222, 0.3);
    border-radius: 5px;
}

.third_row :nth-child(5) {
    color: var(--sec_clr);
}

.fourth_row :first-child {
    color: var(--pri_clr);
}

.fourth_row :nth-child(2) {
    color: var(--sec_clr);
}

.fourth_row :nth-child(3) {
    color: rgb(227, 201, 34);
    background: rgba(203, 240, 117, 0.3);
    border-radius: 5px;
    ;
}

.fourth_row :nth-child(4) {
    color: rgb(227, 201, 34);
    background: rgba(201, 230, 133, 0.3);
    border-radius: 5px;
}

.fourth_row :nth-child(5) {
    color: var(--sec_clr);
}

.fifth_row :first-child {
    color: var(--pri_clr);
}

.fifth_row :nth-child(2) {
    color: var(--sec_clr);
}

.fifth_row :nth-child(3) {
    color: var(--sec_clr);
    background: var(--bg_clr);
    border-radius: 5px;
    ;
}

.fifth_row :nth-child(4) {
    color: var(--sec_clr);
    background: var(--bg_clr);
    border-radius: 5px;
}

.fifth_row :nth-child(5) {
    color: var(--sec_clr);
}


.cards_3_purchase {
    display: flex;
    flex-direction: column;
    width: 18rem;
    border-radius: 12px;
    background-color: white;
    gap: 1rem;
}

.cards_3_purchase>h2 {
    font-size: 1rem;
    color: var(--sec_clr);
    font-weight: 300;
    margin: 1rem 1rem;
}

.cards3_bill {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1.25rem;
    margin: 0 1rem;
    color: var(--sec_clr);
    font-size: 0.65rem;
    font-weight: 200;
}

.horizontal_line {
    border: none;
    width: 85%;
    margin: 0 auto;
    border-top: 1px solid var(--sec_clr);
}

.cards3_bill_detail>h3 {
    margin: 0 1rem;
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--sec_clr);
}

.details {
    display: flex;
    flex-direction: column;
}

.details div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 1rem 0 1rem;
}

.details div h3 {
    font-size: 0.75rem;
    color: var(--sec_clr);
}

.details div :nth-child(2) {
    color: var(--pri_clr);
}

.details div :nth-child(3) {
    margin-left: 8rem;
}

.details_logo_1 :first-child {
    fill: #ff9356;
    font-size: 1rem;
}

.details_logo_2 :first-child {
    fill: #00c081;
    font-size: 1rem;
}

.details_logo_3 :first-child {
    fill: #0040d2;
    font-size: 1rem;
}

.details_logo_4 :first-child {
    fill: #ff0000;
    font-size: 1rem;
}

.details_logo_5 :first-child {
    fill: #cdc6fe;
    font-size: 1rem;
}

.details>h6 {
    color: var(--sec_clr);
    font-size: 0.75rem;
    margin: 0 2.5rem;
}

.cards_3_purchase>h3 {
    font-size: small;
    color: var(--pri_clr);
    margin-top: -0.75rem;
    margin-left: 1rem;
}

.cards_3_top_selling {
    border-radius: 19px;
    background-color: white;
    width: 18rem;
}

.cards_3_top_selling>h3 {
    font-size: 1rem;
    color: var(--sec_clr);
    font-weight: 300;
    margin: 1rem 1rem
}

.card3_tshirt :nth-child(2) {
    color: var(--pri_clr) !important;
    font-size: 0.75rem;
}

.card3_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card3_list_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.card3_list_ul :nth-child(2) {
    color: var(--sec_clr);
    font-size: 0.75rem;
    text-align: center;
}

.card3_list_ul :nth-child(3) {
    color: var(--sec_clr);
    font-size: 0.85rem;
    font-weight: 300;
}

.products_hr {
    border: none;
    width: 50%;
    margin: 0.15rem auto;
    border-top: 1px solid var(--sec_clr);
}

.card3_list_ul>li>img {
    width: 45%;
    margin-inline: 2.5rem;
}

@media (max-width:599px) {
    .dashboard_info {
        padding: 0 1.5rem;
        font-size: 0.85rem;
        font-weight: 200;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
    }

    .cards_data {
        border-radius: 12px;
        padding: 0.5rem 0.75rem;
        gap: 3rem;
    }

    .cards_2 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
    }

    .card_3 {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .card_3 :nth-child(2) {
        grid-template-columns: 1fr 1fr;
    }

    .cards_3_table {
        width: auto;
    }
}