* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  display: none;
}

:root {
  --pri_clr: #003cd1;
  --sec_clr: #38638b;
  --bg_clr: #f4f7f8;
  --text_clr: var(--pri_clr);
  --white: #ffffff;
  --hover: #c3073f;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg_clr);
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility Class */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topNavbar {
  height: 50px;
}

.content {
  display: flex;
  flex: 1;
}

.sideNavbar {
  flex: 0 0 auto;
}

.dashBoard {
  flex: 1;
}


.btn {
  padding: 0.7rem 0.7rem;
  background-color: var(--pri_clr);
  border-radius: 0.3rem;
  color: var(--bg_clr);
  transition: all linear 0.2s;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--sec_clr);
}