* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  display: none;
}

:root {
  --pri_clr: #003cd1;
  --sec_clr: #38638b;
  --bg_clr: #f4f7f8;
  --text_clr: var(--pri_clr);
  --white: #ffffff;
  --hover: #c3073f;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg_clr);
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility Class */
.container {
  --max-width: 69.375em;
  --padding: 1rem;
  width: min(var(--max-width), 100% - (var(--padding)*2));
  margin-inline: auto;
}

.btn {
  padding: 0.7rem 0.7rem;
  background-color: var(--pri_clr);
  border-radius: 0.3rem;
  color: var(--bg_clr);
  transition: all linear 0.2s;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--sec_clr);
}